.ui-kit-col {
  width: 266px;

  &--wide {
    width: 320px;
  }

  &.mr-20 > * {
    margin-bottom: 20px;
  }

  &.mr-30 > * {
    margin-bottom: 30px;
  }

  &.mr-40 > * {
    margin-bottom: 40px;
  }
}