.pagination {
  $pagination-item-size: 40px;

  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    margin-bottom: 10px;
  }

  &__item {
    width: $pagination-item-size;
    height: $pagination-item-size;
    font-size: $font-size--label;
    color: $dark-shade--50;
  }

  &__link {
    @include center-flex(true);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-decoration: none;
    
    @include hover-effect;

    &--with-arrow {
      background: $green-gradient;
      color: #fff;
    }
  }

  &__item--active &__link {
    background: $purple-gradient;
    font-weight: bold;
    color: #fff;
  }

  &__info {
    color: $dark-shade--75;
    line-height: $line-height;
    text-align: center;
  }
}