mixin login-form()
  include ../blocks/form/form
  include ../blocks/fields-group/fields-group
  include ../blocks/field-text/field-text
  include ../blocks/btn/btn
  +form(
    'Войти',
    {
      showAuth: 'registration',
    }
  )
    +fields-group()
      +field-text({
        type: 'email',
        placeholder: 'Email'
      })
      +field-text({
        type: 'password',
        placeholder: 'Пароль'
      })
    +btn(
      'Войти', 
      {
        mods: ['wide', 'submit', 'margin_big'],
        arrow: true
      }
    )