mixin registration-form()
  include ../blocks/form/form
  include ../blocks/field-datepicker/field-datepicker
  include ../blocks/fields-group/fields-group
  include ../blocks/field-label/field-label
  include ../blocks/field-dropdown/field-dropdown
  include ../blocks/field-text/field-text
  include ../blocks/field-radio/field-radio
  include ../blocks/field-checkbox/field-checkbox
  include ../blocks/btn/btn
  +form(
    'Регистрация аккаунта',
    {
      showAuth: 'login',
    }
  )
    +fields-group()
      +field-text({
        placeholder: 'Имя'
      })
      +field-text({
        placeholder: 'Фамилия'
      })
      +field-radio(
        [
          {
            text: 'Мужчина',
            attrs: {
              name: 'gender'
            }
          },
          {
            text: 'Женщина',
            attrs: {
              name: 'gender',
              checked: true
            }
          }
        ], 
        ['inline']
      )
    +fields-group()
      +field-label('Дата рождения')
      +field-text({
        placeholder: 'ДД.ММ.ГГГГ',
        attrs: {
          'data-date-masked': ''
        }
      })
    +fields-group()
      +field-label('Данные для входа в сервис')
      +field-text({
        type: 'email',
        placeholder: 'Email'
      })
      +field-text({
        type: 'password',
        placeholder: 'Пароль'
      })
      +field-checkbox([
        {
          text: 'Получать спецпредложения',
          attrs : {
            checked: false
          },
          mods: ['toggle'],
        },
      ])
    +btn(
      'Перейти к оплате', 
      {
        mods: ['wide', 'submit', 'margin_big'],
        arrow: true
      }
    )