$field-height: 44px;
$field-border-width: 1px;
$counter-button-height: 30px;
$field-border-radius: 4px;

@function fieldHeight ($multiplier) {
  @return calc($field-height / $multiplier);
}

.field-dropdown {
  $field-multiplier: 1;

  position: relative;
  width: 100%;
  height: fieldHeight($field-multiplier);
  background: #FFFFFF;
  border-radius: $field-border-radius;
  transition: border-radius 0s 0.2s;

  &.dropdown--expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 13px fieldHeight($field-multiplier) 13px 15px;
    border: $field-border-width solid $dark-shade--25;
    border-radius: inherit;
    font-size: 1rem;
    line-height: 1.285em;
    color: $dark-shade--75;
    text-overflow: ellipsis;
  }

  &:hover &__input,
  &.dropdown--expanded &__input {
    border-color: $dark-shade--50;
  }

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: fieldHeight($field-multiplier);
    height: fieldHeight($field-multiplier);
    font-family: $font-family--icons;
    z-index: 2;

    svg {
      height: 24px;
      width: 24px;

      path {
        fill: $dark-shade--75;
      }
    }
  }

  &__mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: fieldHeight($field-multiplier);
    background: transparent;
    z-index: 3;
    cursor: pointer;
  }

  &.dropdown--expanded &__content {
    display: block;

    &__inner {
      border: 1px solid $dark-shade--50;
    }
  }

  &__wrapper {
    padding: 7px 7px 7px 15px;
    border: 1px solid $dark-shade--50;
    border-bottom-left-radius: $field-border-radius;
    border-bottom-right-radius: $field-border-radius;
  }

  &__content {
    position: absolute;
    top: calc(100% - $field-border-width);
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 10px 20px $dark-shade--5;
    overflow: hidden;
    transition: height 0.1s linear;
    z-index: 10;
  
    .dropdown-counter {
      display: flex;
      align-items: center;
      justify-content: space-between;
    
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    
      &__name {
        font-size: $font-size--label;
        text-transform: uppercase;
        font-weight: bold;
      }
    
      &__buttons {
        display: flex;
        align-items: center;
      }
    
      &__button {
        @include center-flex;
        width: $counter-button-height;
        height: $counter-button-height;
        border: 1px solid $dark-shade--50;
        border-radius: 50%;
        background: #fff;
        font-size: 18px;
        color: $dark-shade--50;
        cursor: pointer;
    
        &:hover {
          border-color: $dark-shade--75;
          color: $dark-shade--75;
        }
    
        &:disabled {
          opacity: .38;
        }
      }
    
      &__count {
        width: 32px;
        font-size: $font-size--label;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
      }
    }
  
    .dropdown-buttons {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 5px;
  
      .dropdown-button {
        padding: 0;
        border: none;
        background: transparent;
        font-size: $font-size--label;
        font-weight: bold;
        text-transform: uppercase;
        color: $purple;
        cursor: pointer;
        transition: $smooth-hover-transition;
  
        @include hover-effect;
      }
    }
  }
}



