mixin rate-button(active = 0, mods = [], isSelectable = false)
  -
    var allMods = '';
    for (let i = 0; i < mods.length; i++) {
      allMods = allMods + ' rate-btn_' + mods[i].trim();
    }

    var buttonClassName = 'rate-btn' + allMods + ' js-rate-btn';
    var starsClasses = [];
    for (let i = 0; i < 5; i++) {
      var selected = (i + 1 == active ? ' star_selected' : '');
      var inRange = (i + 1 < active ? ' star_in-selected-range' : '');
      starsClasses[i] = 'rate-btn__star js-rate-btn__star' + selected + inRange;
    }
    var attrs = isSelectable ? {'data-selectable' : ''} : {};
  div(class = buttonClassName)&attributes(attrs)
    each starClass in starsClasses
      button(class = starClass)
        span.material-icons