extends ../../layouts/ui-kit.pug
include ../../blocks/catalog-card/catalog-card
include ../../blocks/ui-kit-flex-container/ui-kit-flex-container
include ../../blocks/ui-kit-col/ui-kit-col
include ../../includes/index-form
include ../../includes/registration-form
include ../../includes/index-form
include ../../includes/room-form
include ../../includes/login-form

block content 
  +ui-kit-flex-container()
    +ui-kit-col(40, ['auto'])
      +index-form()
      +registration-form()
    +ui-kit-col(40, ['auto'])
      +room-form()
      +login-form()
    +ui-kit-col(40, ['wide'])
      +field-datepicker({
        additionalProps: {
          fixed: true,
          hideFields: true
        },
      })
      +catalog-card({
        comments: 145,
        room: {
          num: 888,
          cost: 9990,
          isLuxe: true
        },
        images: [1, 2, 3, 4],
        rating: 5,
      })
      +catalog-card({
        comments: 65,
        room: {
          num: 840,
          cost: 9990,
          isLuxe: false
        },
        images: [2],
        rating: 4,
      })