extends ../../components/main/base.pug
//- include ./components/form_elements/button/button
//- include ./components/form_elements/fields-group/fields-group
//- include ./components/form_elements/field-caption/field-caption
//- include ./components/form_elements/field-text/field-text
//- include ./components/form_elements/field-dropdown/field-dropdown
//- include ./components/form_elements/field-datepicker/field-datepicker
//- include ./components/form_elements/field-checkbox/field-checkbox
//- include ./components/form_elements/field-radio/field-radio
//- include ./components/form_elements/like-button/like-button
//- include ./components/form_elements/rate-button/rate-button
//- include ./components/form_elements/expandable-list/expandable-list
//- include ./components/bullet-list/bullet-list
//- include ./components/ui-kit-col/ui-kit-col
//- include ./components/form_elements/field-range/field-range


block content
  .container
    h1.heading-1 Страница 2
    213  