extends ../../layouts/base.pug
include ./components/btn/btn
include ./components/fields-group/fields-group
include ./components/field-label/field-label
include ./components/field-text/field-text
include ./components/field-dropdown/field-dropdown
include ./components/field-datepicker/field-datepicker
include ./components/field-checkbox/field-checkbox
include ./components/field-radio/field-radio
include ./components/like-button/like-button
include ./components/rate-button/rate-button
include ./components/expandable-list/expandable-list
include ./components/bullet-list/bullet-list
include ./components/field-range/field-range
include ./components/comment/comment
include ./components/pagination/pagination

include ./components/ui-kit-col/ui-kit-col
include ./components/ui-kit-flex-container/ui-kit-flex-container


block content
  .inner-container.ui-kit
    +ui-kit-flex-container()
      +ui-kit-col(20, ['wide'])
        +fields-group()
          +field-label('Text field')
          +field-text({
            type: 'email',
            placeholder : 'Email'
          })
        +fields-group()
          +field-label('Dropdown')
          +field-dropdown({
            counters: [
              {
                name: 'Спальни',
                defaultValue: 10,
                max: 10,
                min: 1,
                nameEndings: [
                  [[1], 'спальня'],
                  [[2,3,4], 'спальни'],
                  ['default', 'спален']
                ],
              },
              {
                name: 'Кровати',
                defaultValue: 1,
                max: 6,
                min: 1,
                nameEndings: [
                  [[1], 'кровать'],
                  [[2,3,4], 'кровати'],
                  ['default', 'кроватей'] 
                ],
              },
              {
                name: 'Ванные комнаты',
                defaultValue: 1,
                max: 3,
                min: 1,
                nameEndings: [
                  [[1], 'ванная комната'],
                  [[2,3,4], 'ванные комнаты'],
                  ['default', 'ванных комнат']
                ],
              },
            ],
            buttons: {
              clear: {
                text: 'Очистить',
                show: true
              },
              accept: {
                text: 'Применить',
                show: true
              },
            }
          })
        +field-datepicker({
          id: 1,
          labels: ['date dropdown', 'date dropdown'],
          placeholder: 'ДД.ММ.ГГГГ',
          multiple: true
        })
        +ui-kit-col(20)
          +field-datepicker({
            id: 2,
            labels: ['filter date dropdown'],
            placeholder: 'ДД.ММ.ГГГГ',
          })
          +expandable-list({
            text: 'Дополнительные удобства',
            checkboxList: [
              {
                text: 'Завтрак'
              },
              {
                text: 'Письменный стол'
              },
              {
                text: 'Стул для кормления'
              },
              {
                text: 'Кроватка'
              },
              {
                text: 'Телевизор'
              },
              {
                text: 'Шампунь'
              },
            ],
            mods: ['expanded']
          })
          +fields-group()
            +field-label('Subscription text field')
            +field-text({
              type: 'email',  
              placeholder: 'Email',
              sendArrow: true,
            })
      +ui-kit-col(40)
        +fields-group
          +field-label('Checkbox buttons', ['high'])
          +field-checkbox([
            {
              text: 'Можно курить',
              attrs : {
                checked: true
              }
            },
            {
              text: 'Можно с питомцами',
            },
            {
              text: 'Можно пригласить гостей (до 10 человек)',
            },
          ])
        +fields-group
          +field-label('Radio buttons', ['high'])
          +field-radio(
            [
              {
                text: 'Мужчина',
                attrs: {
                  name: 'gender'
                }
              },
              {
                text: 'Женщина',
                attrs: {
                  name: 'gender',
                  checked: true
                }
              }
            ], 
            ['inline']
          )
        +fields-group
          +field-label('Toggle', ['high'])
          +field-checkbox([
            {
              text: 'Получать спецпредложения',
              attrs : {
                checked: true
              },
              mods: ['toggle'],
            },
            {
              text: 'Получать спецпредложения',
              mods: ['toggle'],
            },
          ])
        +fields-group()  
          +field-label('Like button', ['high'])
          +fields-group(['inline'], 10)
            +like-button({
              count: 2
            })
            +like-button({
              count: 12,
              mods: ['liked']
            }
          )
        +fields-group() 
          +field-label('Rate button', ['high'])
          +fields-group(['inline'], 20)
            +rate-button(4)
            +rate-button(2)
        +fields-group() 
          +field-checkbox([
            {
              text: 'Широкий коридор',
              attrs : {
                checked: true
              },
              mods: ['rich'],
              rich: 'Ширина коридоров в номере не менее 91 см.'
            },
            {
              text: 'Помощник для инвалидов',
              mods: ['rich'],
              rich: 'На 1 этаже вас встретит специалист и проводит до номера.'
            },
          ])
      +ui-kit-col(40, ['wide'])
        +ui-kit-col()
          +field-range()
        +fields-group()
          +field-label('Buttons', ['high'])
          +ui-kit-col(30)
            +fields-group(['inline'], 20)
              +btn('Click me')
              +btn(
                'Click me', 
                {
                  mods: ['hovered']
                }
              )
            +fields-group(['inline'], 20)
              +btn(
                'Click me', 
                {
                  mods: ['light']
                }
              )
              +btn(
                'Click me', 
                {
                  mods: ['light', 'hovered']
                }
              )
            +fields-group(['inline'], 20)
              +btn(
                'Click me', 
                {
                  href: '#',
                  mods: ['inline']
                }
              )
              +btn(
                'Click me', 
                {
                  href: '#',
                  mods: ['inline', 'hovered']
                }
              )
            div
              +btn(
                'Перейти к оплате', 
                {
                  mods: ['wide'],
                  arrow: true
                }
              )
        +fields-group()
          +field-label('Pagination', ['high'])
          +pagination()
    +bullet-list([
      'Нельзя с питомцами',
      'Без вечеринок и мероприятий',
      'Время прибытия — после 13:00, а выезд до 12:00'
    ])
    +comment()

    