extends ../../components/main/ui-kit.pug
include ../../components/form/form
include ../../components/field-datepicker/field-datepicker
include ../../components/field-dropdown/field-dropdown
include ../../components/fields-group/fields-group
include ../../components/field-label/field-label
include ../../components/field-text/field-text
include ../../components/field-radio/field-radio
include ../../components/field-checkbox/field-checkbox
include ../../components/btn/btn
include ../../components/resulting-table/resulting-table
include ../../components/catalog-card/catalog-card
include ../../components/header/header
include ../../components/footer/footer

block content
  +header()
  +header(true)
  main 213
  +footer()