.btn {
  $button-height: 44px;

  @include center-flex;
  position: relative;
  height: $button-height;
  padding: 0 20px;
  border: none;
  border-radius: 22px;
  background: $purple-gradient;
  font-size: $font-size-label;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity .1s linear;
  z-index: 1;

  &:hover, &_hovered {
    opacity: .5;
  }

  &_wide {
    width: 100%;
  }

  &_inline {
    height: auto;
    padding: 0;
    background: none;
    color: $purple;

    transition: color .1s linear;
    
    &:hover, &.btn_hovered {
      color: $dark-shade-50;
      opacity: 1;
    }
  }

  &_light {
    color: $purple;
    background: white;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: $purple-gradient;
      border-radius: inherit;
      box-sizing: border-box;
      z-index: -1;
    }

    &:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 2px;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      background: white;
      border-radius: inherit;
      z-index: -1;
    }
  }

  &_thin {
    height: 34px;
  }

  &__arrow {
    @include center-flex;
    position: absolute;
    right: 0;
    top: 0;
    width: $button-height;
    height: $button-height;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}

