mixin pagination(count = 1, active = 1, mods = [])
  include ../like-button/like-button
  -
    let allMods = '';
    if (mods) {
      for (let i = 0; i < mods.length; i++) {
        allMods += ' pagination_' + mods[i].trim();
      }
    }

    let items = [];
    if (active > 3) items = items.concat([1, '...']);
    else items = items.concat([1, 2, 3]);

    if (active < count - 2) {
      if (active > 3) items = items.concat([active]);
      items = items.concat(['...', count]);
    } else items = items.concat([count - 2, count - 1, count]);
  nav.pagination
    ul.pagination__list
      each item in items
        -
          let isActive = (active === item) ? ' pagination__item_active' : '';
          let classList = 'pagination__item' + isActive;
        li(class=classList)
          a.pagination__link(href='#')= item
      if active < count
        li.pagination__item
          a.pagination__link.pagination__link_with-arrow(href='#') 
            span.material-icons arrow_forward
    .pagination__info 1 – 12 из 100+ вариантов аренды