.form {
  width: 380px;
  padding: 39px 29px 29px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  @media (max-width: $screen-xsm) {
    width: 290px;
    padding: 14px;
  }

  &_for_smartfilter {
    width: 266px;
    padding: 0;
    border: none;
    box-shadow: none;

    @media (max-width: $screen-lg) {
      width: 320px;

      & .form__wrapper {
        padding: 34px 0 1px;
      }
    }

    @media (max-width: $screen-xsm) {
      width: 260px;
    }
  }

  &__heading {
    margin-bottom: 20px;

    @media (max-width: $screen-xsm) {
      text-align: center;
    }
  }

  .account-availability {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    color: #000;

    .btn {
      padding-left: 0;
      padding-right: 0;
      width: 100px;
    }
  }
}