mixin form(title = '', options = {})
  include ../../components/room-heading/room-heading
  -
    let allMods = '';
    if (options.mods) {
      for (let i = 0; i < options.mods.length; i++) {
        allMods = allMods + ' form_' + options.mods[i].trim();
      }
    }

    var classList = 'form' + allMods;
    var attrs = options.attrs || '';
    var room = options.room;
  form(class = classList)
    .form__wrapper 
      .form__heading
        if (room)
          +room-heading(room)
        if (title)
          h1.heading-1= title
      block