mixin form(title = '', attrs = '', mods = [])
  -
    let allMods = '';
    if (mods) {
      for (let i = 0; i < mods.length; i++) {
        allMods = allMods + ' form_' + mods[i].trim();
      }
    }

    var classList = 'form' + allMods;
  form(class = classList)
    .form__wrapper 
      if (title)
        .form__heading
          h1.heading-1= title
      block