.field-datepicker {
  $field-height: 44px;
  $field-border-width: 1px;
  $counter-button-height: 30px;

  @function fieldHeight ($multiplier) {
    @return calc($field-height / $multiplier);
  }

  $field-multiplier: 1;

  position: relative;
  height: fieldHeight($field-multiplier);
  background: #FFFFFF;
  border-radius: 4px;

  &__input {
    width: 100%;
    height: 100%;
    padding: 13px fieldHeight($field-multiplier) 13px 15px;
    border-radius: inherit;
    font-size: 1rem;
    line-height: 1.285em;
    color: $dark-shade--75;
    border: $field-border-width solid $dark-shade--25;
    outline: none;
    transition: $input-hover-transition;

    @include darkPlaceholder;
  }

  &:hover &__input {
    border-color: $dark-shade--50;
  }

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: fieldHeight($field-multiplier);
    height: fieldHeight($field-multiplier);
    z-index: 2;

    svg {
      height: 24px;
      width: 24px;

      path {
        fill: $dark-shade--75;
      }
    }
  }

  &__mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: fieldHeight($field-multiplier);
    background: transparent;
    z-index: 3;
    cursor: pointer;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 320px;

    & > *:nth-child(2) {
      margin-left: 20px;
    }
  }

  &.field--wide {
    max-width: none;
    width: 100%;
  }
}

.air-datepicker {
  $date-element-height: 40px;
  $range-gradient: linear-gradient(180deg, rgba(188, 156, 255, .25) 0%, rgba(139, 164, 249, .25) 100%);
  $nav-height: 24px;

  top: calc($default-field-height + 5px) !important;
  width: 100%;
  min-width: 320px;
  font-family: $font-family;
  box-sizing: border-box;
  border-color: $dark-shade--25;

  &--buttons {
    padding: 0 20px 20px;
    border-top: none;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
  }

  &-button {
    height: auto;
    padding: 0;
    color: $purple;
    font-size: $font-size--label;
    font-weight: bold;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $dark-shade--50;
      background: none;
    }
  }

  &--pointer {
    display: none;
  }

  &-nav {
    padding: 20px 20px 10px 20px;
    border-bottom: none;
    min-height: $nav-height;

    &--action {
      color: $purple;
      height: $nav-height;
      width: $nav-height;
    }

    &--title {
      font-weight: bold;
      font-size: $font-size--h2;
    }
  }

  &--content {
    padding: 20px; 
  }

  &-body {
    &--cells.-days- {
      grid-auto-rows: $date-element-height;
    }

    &--day-names {
      margin: 0;
    }

    &--day-name {
      height: $date-element-height;
      width: $date-element-height;
      font-weight: bold;
      color: $purple;
    }
  }
  
  &-cell {
    height: $date-element-height;
    width: $date-element-height;
    font-size: $font-size--label;
    color: $dark-shade--50;

    overflow: hidden;

    &.-day-.-other-month- {
      color: $dark-shade--25;
    }

    &.-in-range- {
      background: $range-gradient !important;
    }

    &.-current- {
      font-weight: bold;
      color: #fff !important;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: $date-element-height;
        width: $date-element-height;
        background: $green-gradient;
        border-radius: 50%;
        z-index: -1;
      }
    }

    &.-selected- {
      font-weight: bold;
      background: $range-gradient !important;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: $date-element-height;
        width: $date-element-height;
        background: $purple-gradient;
        border-radius: 50%;
        z-index: -1;
      }
    }

    &.-range-from-:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: $date-element-height;
      width: calc($date-element-height / 2);
      background: white;
      z-index: -1;
    }

    &.-range-to-:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: $date-element-height;
      width: calc($date-element-height / 2);
      background: white;
      z-index: -1;
    }
  }
}