.smartfilter {
  margin-right: 60px;
  z-index: 12;

  @media (max-width: $screen-lg) {
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: transparent;
    transition: 
      background-color .2s linear,
      right 0s linear .2s;
  }

  &__inner {
    @media (max-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: -400px;
      width: 400px;
      height: 100%;
      padding: 15px;
      background: #fff;
      overflow: auto;
      transition: left 0.2s ease-out;
    }

    @media (max-width: $screen-xsm) {
      width: 320px;
      padding: 10px 15px 0 5px;
    }
  }

  &__close {
    display: none;
    position: sticky;
    top: 0;
    width: 34px;
    padding: 0;

    @media (max-width: $screen-xsm) {
      top: 3px;
      margin: 3px 0;
    }
  }

  &_active {
    @media (max-width: $screen-lg) {
      right: 0;
      background: rgba(0, 0, 0, .5);
      transition: background-color .2s linear;

      .smartfilter__inner {
        left: 0;
      }

      .smartfilter__close {
        display: block;
      }
    }
  }
}