include ./head
include ../header/header
include ../footer/footer

doctype html
html(lang="en")
  +htmlHead('Главная')
  body 
    +header()
    main 
      .container
        block content
    +footer()
