.comment {
  $left-col-width: 48px;

  max-width: 800px;

  &__heading {
    display: flex;
    margin-bottom: 12px;
  }

  &__avatar {
    width: $left-col-width;
    height: $left-col-width;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: center no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
  }

  &__username {
    line-height: $line-height;
    font-weight: bold;
  }

  &__datetime {
    line-height: $line-height;
  }

  &__content {
    display: flex;
  }

  &__text {
    padding-bottom: 2px;
    margin-top: -2px;
  }

  &__likes {
    display: flex;
    justify-content: center;
    width: $left-col-width;
    margin-right: 10px;
    flex-shrink: 0;
  }
}