mixin comment(options)
  include ../like-button/like-button
  -
    if (typeof options === 'undefined') {
      options = {};
    }

    let mods = '';
    if (options?.mods) {
      for (let i = 0; i < options.mods.length; i++) {
        mods = mods + ' bullet-list_' + options.mods[i].trim();
      }
    }

    var buttonClassName = 'bullet-list' + mods;
    var listItems = options?.items ? options.items : [];
    //var avatarStyles = options?.avatar ? `{background-image: url('${options.avatar}');}` : '';
  article.comment
    .comment__heading
      .comment__avatar(style=avatarStyles)
      .comment__info
        .comment__username Мурад Сарафанов
        .comment__datetime 5 дней назад
    .comment__content
      .comment__likes
        +like-button({
          count: 12,
          mods: ['liked']
        })
      .comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
