mixin field-checkbox(options)
  -
    if (typeof options === 'undefined') {
      options = {};
    }

    let mods = '';
    if (options?.mods) {
      for (let i = 0; i < options.mods.length; i++) {
        mods = mods + ' field-checkbox--' + options.mods[i].trim();
      }
    }

    var defaultClassName = 'field-checkbox';
    var classList = defaultClassName + mods;
    var labelText = options?.text ? options.text : '';
    var inputChecked = options?.checked || false;
    var inputName = options?.name ? options.name : '';
    var id = 'checkbox' + (options?.id ? options.id : Math.random(0, 999999));
    var richText = options?.richText ? options.richText : '';
  div(class = classList)
    input(
      type = 'checkbox', 
      id = id,
      class = defaultClassName + '__input',
      checked = inputChecked,
      name = inputName
    )
    label(
      class = defaultClassName + '__label',
      for = id,
    )
      span(class = defaultClassName + '__label-name')
        =labelText
      if (richText)
        span(class = defaultClassName + '__label-rich')
          =richText
    
      