mixin checkboxField(options)
  -
    if (typeof options === 'undefined') {
      options = {};
    }

    let mods = '';
    if (options?.mods) {
      for (let i = 0; i < options.mods.length; i++) {
        mods = mods + ' text-input--' + options.mods[i].trim();
      }
    }

    var defaultClassName = 'checkbox-field';
    var classList = defaultClassName + mods;
    var inputClassList = defaultClassName + '__input'
    var placeholder = options?.placeholder || '';
    var inputChecked = options?.checked || false;
    var id = 'checkbox' + options.id;
    var labelText = options?.text ? options.text : '';
  div(class = classList)
    input(
      type = 'checkbox', 
      id = id,
      class = inputClassList,
      checked = inputChecked,
    )
    label(
      class = defaultClassName + '__label',
      for = id,
    )
      =labelText
    
      