.checkbox-field {
  $label-height: 20px;
  $toggler-width: 40px;
  $toggler-inner-size: 12px;

  max-width: 260px;

  &__input {
    display: none;
  }

  &__label {
    display: inline-block;
    position: relative;
    min-height: $label-height;
    padding-left: 30px;
    padding-top: 1px;
    line-height: 18px;
    color: $dark-shade--50;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: $label-height;
      height: $label-height;
      border: 1px solid $dark-shade--25;
      border-radius: 4px;
      background: white center no-repeat;
      box-sizing: border-box;
      transition: border-color .1s linear;
    }
  }

  &__input:checked + &__label:before {
    border-color:#BC9CFF;
    background-image: url('./components/form_elements/field-checkbox/img/check.svg');
  }


  &--rich &__label {
    display: inline-flex;
    flex-direction: column;

    &-name {
      font-weight: bold;
      color: $dark-shade--75;
    }

    &-rich {
      padding-top: 5px;
      font-size: $font-size--label;
      line-height: $line-height--label;
    }
  }

  &--toggle &__label {
    padding-left: 50px;

    &:before {
      width: $toggler-width;
      border-radius: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      left: calc(($label-height - $toggler-inner-size) / 2);
      top: calc(($label-height - $toggler-inner-size) / 2);
      width: $toggler-inner-size;
      height: $toggler-inner-size;
      background: $dark-shade--25;
      border-radius: 50%;
      transition: left .1s linear;
    } 
  }

  &--toggle &__input:checked + &__label:after {
    left: calc(($label-height - $toggler-inner-size) / 2) + 20px;
    background: $purple-gradient;
  }

  &--toggle &__input:checked + &__label:before {
    background: none;
  }
}