@mixin sliderHeight {
  height: 151px;

  @media (max-width: $screen-lg) {
    height: 180px;
  }

  @media (max-width: $screen-md) {
    height: 210px;
  }

  @media (max-width: $screen-sm) {
    height: 180px;
  }

  @media (max-width: $screen-xsm) {
    height: 200px;
  }

  @media (max-width: 425px) {
    height: 170px;
  }
}

.catalog-card {
  border-radius: 4px;
  box-shadow: 0px 10px 20px $dark-shade-5;
  overflow: hidden;

  &__images {
    position: relative;
  }

  &__slider {
    .slick-track {
      display: flex;
      align-items: flex-start;
      
      @include sliderHeight;
    }
  }

  &__image {
    width: 100%;
    background: center no-repeat;
    background-size: cover;

    @include sliderHeight;
  }

  &__arrow {
    $arrow-size: 44px;

    @include center-flex;
    position: absolute;
    top: 0;
    width: $arrow-size;
    height: 100%;
    border: none;
    color: #fff;
    transition: $smooth-hover-transition;

    &_prev {
      left: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

      span {
        transform: rotate(90deg);
      }
    }

    &_next {
      right: 0;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);

      span {
        transform: rotate(270deg);
      }
    }

    &:hover {
      opacity: .5;
    }
  }
  
  &__dots {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;

    li {
      display: block;

      &:not(:first-child) {
        margin-left: 3.75px;
      }

      button {
        width: 8px;
        height: 8px;
        padding: 0;
        border: 1px solid #fff;
        border-radius: 50%;
        box-shadow: 0px 5px 5px $dark-shade-30;
        background: transparent;
        font-size: 0;
        pointer-events: none;
    
        &.slick-active {
          background: #fff;
        }
      }

      &.slick-active button {
        background: #fff;
      }
    }
    
    
  }

  // &__dot {
  //   width: 8px;
  //   height: 8px;
  //   padding: 0;
  //   border: 1px solid #fff;
  //   border-radius: 50%;
  //   box-shadow: 0px 5px 5px $dark-shade-30;
  //   background: transparent;

  //   &:not(:first-child) {
  //     margin-left: 3.75px;
  //   }

  //   &_active {
  //     background: #fff;
  //   }
  // }

  &__info {
    display: block;
    padding: 20px;
  }

  &__heading {
    padding-bottom: 10px;
    margin-bottom: 8px;
    border-bottom: 1px solid $dark-shade-10;
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__comments {
    color: $dark-shade-50;
  }
}