$blue : #0000ff;

.btn {
  position: relative;
  height: 44px;
  padding: 0 20px;
  border: none;
  border-radius: 22px;
  background: $purple-gradient;
  font-size: $font-size--label;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  vertical-align: middle;
  transition: opacity .1s linear;
  cursor: pointer;
  z-index: 1;

  &:hover {
    opacity: .5;
  }

  &.btn-wide {
    width: 100%;
  }

  &.btn--light {
    color: $purple;
    background: white;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: $purple-gradient;
      border-radius: inherit;
      box-sizing: border-box;
      z-index: -1;
    }

    &:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 2px;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      background: white;
      border-radius: inherit;
      z-index: -1;
    }
  }
}

