mixin dropdownCounter(options)
  -
    if (typeof options === 'undefined') {
      options = {};
    }

    let mods = '';
    if (options?.mods) {
      for (let i = 0; i < options.mods.length; i++) {
        mods = mods + ' text-input--' + options.mods[i].trim();
      }
    }
    var className = 'text-input' + mods;
    var inputType = options?.type || 'text'
    var placeholder = options?.placeholder || '';
    var inputValue = options?.value || '';
  input(
    type = inputType, 
    placeholder = placeholder,
    class = className,
    value = inputValue
  )