extends ../components/main/base.pug
include ../components/smartfilter/smartfilter
include ../components/catalog/catalog

block content 
  .container
    .inner-container
      +catalog(
        'Номера, которые мы для вас подобрали',
        [
          {
            comments: 145,
            room: {
              num: 888,
              cost: 9990,
              isLuxe: true
            },
            images: [1, 2, 3, 4],
            rating: 5,
          },
          {
            comments: 65,
            room: {
              num: 840,
              cost: 9990,
            },
            images: [2],
            rating: 4,
          },
          {
            comments: 35,
            room: {
              num: 980,
              cost: 8500,
              isLuxe: true
            },
            images: [3, 1, 2, 4],
            rating: 3,
          },
          {
            comments: 19,
            room: {
              num: 856,
              cost: 7300,
            },
            images: [4, 1, 2, 3],
            rating: 5,
          },
          {
            comments: 44,
            room: {
              num: 740,
              cost: 6000,
            },
            images: [5, 2, 3, 4],
            rating: 4,
          },
          {
            comments: 56,
            room: {
              num: 982,
              cost: 5800,
            },
            images: [6, 2, 3, 4],
            rating: 3,
          },
          {
            comments: 45,
            room: {
              num: 678,
              cost: 5500,
            },
            images: [7, 2, 3, 4],
            rating: 5,
          },
          {
            comments: 39,
            room: {
              num: 450,
              cost: 5300,
            },
            images: [8, 2, 3, 4],
            rating: 4,
          },
          {
            comments: 77,
            room: {
              num: 350,
              cost: 5000,
            },
            images: [9, 2, 3, 4],
            rating: 3,
          },
          {
            comments: 25,
            room: {
              num: 666,
              cost: 5000,
            },
            images: [10, 2, 3, 4],
            rating: 5,
          },
          {
            comments: 15,
            room: {
              num: 444,
              cost: 5000,
            },
            images: [11, 2, 3, 4],
            rating: 3,
          },
          {
            comments: 55,
            room: {
              num: 352,
              cost: 5000,
            },
            images: [12, 2, 3, 4],
            rating: 3,
          },
        ],
        'smartfilter1'
      )
  