extends ../components/main/base.pug
include ../components/banner-image/banner-image
include ../includes/login-form

block content 
  +banner-image('/images/bg-auth.png', ['centered'])
    +login-form()
        