extends ../layouts/base.pug
include ../blocks/chart/chart
include ../blocks/features/features
include ../blocks/comment/comment
include ../blocks/catalog-detailed/catalog-detailed

block content 
  +catalog-detailed()