extends ../layouts/base.pug
include ../components/chart/chart
include ../components/features/features
include ../components/comment/comment
include ../components/catalog-detailed/catalog-detailed

block content 
  +catalog-detailed()