.field-radio {
  $label-height: 20px;
  $radio-inner-height: 12px;

  &__input {
    display: none;
  }

  &__label {
    display: inline-block;
    min-height: $label-height;
    cursor: pointer;
  }

  &__name {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    padding-top: 1px;
    line-height: 18px;
    color: $dark-shade--50;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: $label-height;
      height: $label-height;
      border: 1px solid $dark-shade--25;
      border-radius: 50%;
      box-sizing: border-box;
    }

    &:after {
      content: '';
      display: none;
      position: absolute;
      left: calc(($label-height - $radio-inner-height) / 2);
      top: calc(($label-height - $radio-inner-height) / 2);
      width: $radio-inner-height;
      height: $radio-inner-height;
      background: $purple-gradient;
      border-radius: 50%;
    } 
  }

  &__input:checked + &__name {
    color: $dark-shade--75;

    &:before {
      border-color:#BC9CFF;
    }

    &:after {
      display: block;
    }
  }

  &--inline {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
  }

  &--inline &__input-wrapper {
    margin-right: 20px;
  }
}