@import 'ion-rangeslider/css/ion.rangeslider.min.css';

.field-range {


  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__values {
    font-size: $font-size--label;
    line-height: $line-height--label;
  }

  &__info {
    font-size: $font-size--label;
    line-height: $line-height--label;
    color: $dark-shade--50;
  }
}

.irs {
  $bar-height: 6px;
  $dot-size: 16px;

  &--flat {
    height: 6px;
    margin-bottom: 14px;
  }

  &--flat &-line {
    top: 0;
    height: $bar-height;
  }

  &--flat &-bar {
    top: 0;
    height: $bar-height;
    background: $green-gradient;
  }
  
  &--flat &-handle {
    top: -5px;
    width: $dot-size;
    height: $dot-size;

    &>i:first-child {
      left: 0;
      top: 0;
      width: $dot-size;
      margin-left: 0;
      border-radius: 50%;
      background: $green-gradient;
      border: 2px solid white;
    }
  }
}

