mixin bullet-list(items = [], mods = [])
  -
    let allMods = '';
    if (mods) {
      for (let i = 0; i < mods.length; i++) {
        allMods += ' bullet-list_' + mods[i].trim();
      }
    }

    var buttonClassName = 'bullet-list' + allMods;
  ul(class = buttonClassName)
    each item in items
      li.bullet-list__item 
        span !{item}