.fields-group {
  width: 100%;
  margin-bottom: 20px;

  &_inline {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;

    &.mr-10 > *:not(:last-child) {
      margin-right: 10px;
    }

    &.mr-20 > *:not(:last-child) {
      margin-right: 20px;
    }
  }

  &_no-margin {
    margin-bottom: 0 !important;
  }

  &_high {
    margin-bottom: 30px;
  }

  & > *:not(.field-label) {
    margin-bottom: 10px;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}