extends ./components/main/base.pug
include ./components/form_elements/button/button
include ./components/form_elements/fields-group/fields-group
include ./components/form_elements/field-caption/field-caption
include ./components/form_elements/field-text/field-text
include ./components/form_elements/field-dropdown/field-dropdown
include ./components/form_elements/field-datepicker/field-datepicker
include ./components/form_elements/field-checkbox/field-checkbox
include ./components/form_elements/field-radio/field-radio
include ./components/form_elements/like-button/like-button
include ./components/form_elements/rate-button/rate-button
include ./components/form_elements/expandable-list/expandable-list
include ./components/bullet-list/bullet-list
include ./components/ui-kit-col/ui-kit-col


block content
  .container
    h1.heading-1 This one is the sub-section or widget title
    +ui-kit-col({
      mods: ['wide']
    })
      +fields-group()
        +field-caption('Text field')
        +field-text({
          type: 'email',
          placeholder : 'Email1'
        })
      +fields-group()
        +field-caption('Dropdown field')
        +field-dropdown()
      +field-datepicker({
        id: 1,
        placeholder: 'ДД.ММ.ГГГГ',
        multiple: true
      })
      +ui-kit-col()
        +field-datepicker({
          id: 2,
        })
        +expandable-list({
          text: 'Expandable list',
          checkboxList: [
            'Завтрак',
            'Письменный стол',
            'Стул для кормления',
            'Кроватка',
            'Телевизор',
            'Шампунь',
          ],
          mods: ['expanded']
        })
    
    +fields-group('Subscription text field')
      +field-text({
        type: 'email',
        placeholder: 'Email',
        sendArrow: true,
      })
    +btn({text: 'Перейти к оплате'})
    +btn({text: 'Перейти к оплате', mods: ['light']})
    +field-checkbox({
      text: 'Можно курить',
    })
    +field-checkbox({
      text: 'Можно с питомцами',
    })
    +field-checkbox({
      text: 'Можно пригласить гостей (до 10 человек)',
    })
    +field-radio({
      text: 'Мужчина',
      id: 1,
      name: 'gender',
    })
    +field-radio({
      text: 'Женщина',
      id: 2,
      name: 'gender',
    })
    +field-checkbox({
      text: 'Получать спецпредложения',
      mods: ['toggle'],
    })
    +like-button({
      count: 2
    })
    +like-button({
      count: 12,
      mods: ['liked']
    })
    +rate-button()
    +field-checkbox({
      text: 'Широкий коридор',
      mods: ['rich'],
      richText: 'Ширина коридоров в номере не менее 91 см.'
    })
    +bullet-list({
      items: [
        'Нельзя с питомцами',
        'Без вечеринок и мероприятий',
        'Время прибытия — после 13:00, а выезд до 12:00'
      ]
    })
    