extends ./layouts/base.pug
include ./blocks/banner-image/banner-image
include ./includes/index-form

block prepend head
  - var title = '123';

block content 
  +banner-image('bg-main.png')
    +index-form()
    .banner-image__caption Лучшие номера для вашей работы, отдыха и просто вдохновения