extends ./components/main/base.pug
include ./components/banner-image/banner-image
include ./includes/index-form

block content 
  +banner-image('/images/bg-main.png')
    +index-form()
    .banner-image__caption Лучшие номера для вашей работы, отдыха и просто вдохновения