* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
  color: $dark-shade--75;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1.heading-1 {
  font-size: $font-size--h1;
  color: $dark-shade--100;
  line-height: 2.14rem;
}

h2.heading-2 {
  font-size: $font-size--h2;
  color: $dark-shade--100;
  line-height: 1.655rem;
}

h3.heading-label {
  font-size: $font-size--label;
  color: $dark-shade--100;
  line-height: 1.05rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}