* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: $font-family;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: $dark-shade-75;

  &.body__fixed {
    overflow: hidden;
  }
}

main {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  line-height: $line-height;
}

input, textarea, button {
  font-family: $font-family;
}

h1.heading-1 {
  font-size: $font-size-h1;
  color: $dark-shade-100;
  line-height: $line-height-h1;
}

h2.heading-2 {
  font-size: $font-size-h2;
  color: $dark-shade-100;
  line-height: $line-height;
}

h3.heading-label {
  font-size: $font-size-label;
  color: $dark-shade-100;
  line-height: 1.0715rem;
  text-transform: uppercase;
}

.container {
  height: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.inner-container {
  width: 100%;
  height: 100%;
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: $screen-lg) {
    padding: 0 70px;
  }

  @media (max-width: $screen-lg) {
    padding: 0 15px;
  }
}