@mixin lightPlaceholder {
  &::-webkit-input-placeholder {
    color: $dark-shade-25;
  }
  &:-ms-input-placeholder {
    color: $dark-shade-25;
  }
  &::-moz-placeholder {
    color: $dark-shade-25;
    opacity: 1;
  }
}

@mixin darkPlaceholder {
  &::-webkit-input-placeholder {
    color: $dark-shade-75;
  }
  &:-ms-input-placeholder {
    color: $dark-shade-75;
  }
  &::-moz-placeholder {
    color: $dark-shade-75;
    opacity: 1;
  }
}

@mixin center-flex ($inline: false) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }
  align-items: center;
  justify-content: center;
}

@mixin hover-effect {
  &:hover {
    opacity: .5;
  }
}