mixin like-button(count = 0, mods = [])
  -
    let allMods = '';
    if (mods) {
      for (let i = 0; i < mods.length; i++) {
        allMods += ' like-btn_' + mods[i].trim();
      }
    }

    var buttonClassName = 'like-btn js-like-btn' + allMods;
  button(class = buttonClassName)
    .like-btn__icon
      span.material-icons
    span.like-btn__count= count