mixin header-nav(items = [])
  include ../header-auth/header-auth
  nav(class = 'header-nav js-header-nav')
    button(class = 'btn btn_thin btn_light header-nav__button js-header-nav__button_show')
      span.material-icons menu
    .header-nav__wrapper.js-header-nav__wrapper
      .header-nav__inner-wrapper.js-header-nav__inner-wrapper
        ul.header-nav__list-wrapper
          .header-nav__list-auth
            +header-auth(
              true,
              ['mobile']
            )
            ul.header-nav__list
              each item in items
                -
                  let classList = 'header-nav__link';
                  if (item.active) classList += ' header-nav__link_active'
                li.header-nav__item
                  a(class = classList, href=item.href) 
                    span= item.text
                    if (item.dropdown)
                      i.header-nav__dropdown-icon.material-icons expand_more
        button(class = 'btn btn_thin btn_light header-nav__button header-nav__button_hiding js-header-nav__button_hiding')
          span.material-icons close