.header-nav {
  $nav-button-size: 34px;

  margin: 0 20px 0 auto;

  @media (min-width: ($screen-sm + 1px)) and (max-width: $screen-md) {
    width: 100%;
    padding-top: 8px;
    margin: 8px 0 0 0;
    border-top: 1px solid $dark-shade-10;
  }

  @media (max-width: $screen-md) {
    order: 1;
  }

  @media (max-width: $screen-sm) {
    padding-left: 15px;
    margin: 0 0 0 15px;
    border-left: 1px solid $dark-shade-10;
  }

  @media (max-width: $screen-xsm) {
    margin: 0 0 0 auto;
  }

  &__wrapper {
    @media (max-width: $screen-sm) {
      position: fixed;
      left: 100%;
      top: 0;
      width: 100%;
      height: 100vh;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent;
      z-index: 2;
      transition: 
        background-color .2s linear,
        left 0s linear .2s;
    }
  }

  &_active &__wrapper {
    @media (max-width: $screen-sm) {
      left: 0;
      background: rgba(0, 0, 0, .5);
      transition: background-color .2s linear;
    }
  }

  &__inner-wrapper {
    @media (max-width: $screen-sm) {
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: -320px;
      top: 0;
      width: 320px;
      height: 100%;
      padding: 10px 15px;
      background: #fff;
      transition: right .2s ease-out;
    }
  }

  &_active &__inner-wrapper {
    @media (max-width: $screen-sm) {
      right: 0;
    }
  }

  &__list-wrapper {
    padding-top: 3px;
    flex-grow: 1;
  }

  &__list {
    display: flex;
    align-items: center;

    @media (max-width: $screen-md) {
      justify-content: space-between;
    }

    @media (max-width: $screen-sm) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      z-index: 3;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;

      @media (min-width: ($screen-sm + 1px)) and (max-width: $screen-md) {
        margin: 0;
      }
    }

    @media (max-width: $screen-sm) {
      margin: 11px 0;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $dark-shade-50;
    
    &_active {
      font-weight: bold;
    }

    &:hover {
      color: $purple;
    }
  }

  &__dropdown-icon {
    width: 24px;
    font-size: 21px;
  }

  &__button {
    display: none;
    width: $nav-button-size;
    padding: 0;
    border-radius: 50%;
    background: #fff;

    span {
      font-size: 20px;
    }

    &_hiding {
      margin: 3px 0;
    }

    @media (max-width: $screen-sm) {
      display: block;
    }
  }

  
  .header-auth {
    display: none;

    @media (max-width: $screen-xsm) {
      display: block;

      &__buttons {
        display: block;
        padding-bottom: 11px;
    
        button:not(:last-of-type) {
          margin-bottom: 11px;
        }
      }

      &__user {
        padding: 0 15px 0 0;
      }
    }
  }
}